<h1> <%= @mod.mod_number %>'s Notes </h1>

<%= link_to 'Add a new note', new_note_path %><hr>

<% notes_grouped_by_lecture = Note.all.group(:lecture_name).uniq%>

<% lecture_names = notes_grouped_by_lecture.map do |note|%>
    <% note.lecture_name %>
  <% end %>

<ul>
  <%lecture_names.each do |name| %>
  <% not_empty_lectures = [] %>
    <% lectures_note = not_empty_lectures.select {|x| x.lecture_name == name}
      <% notes_grouped_by_lecture.each do |note_object|%>
        <% if note_object.content != nil %>
        <div>
          <% not_empty_lectures << note_object %>
          </div>
          <% end %>

          <% not_empty_lectures.each do |x| %>
          <% byebug %>
          <li><%=x.lecture_name%></li>
          <% end %>




      <% end %>
    <% end %>
  </ul>
