<h1><%= @instructor.name %></h1>
<ul>
  <% @instructor.mods.each do |mod| %>
  <li><%= link_to mod.mod_number, mod_path(mod) %></li>
  <% end %>

</ul>
<%= button_to "Edit Instructor", edit_instructor_path , method: :get %>
