<<<<<<< HEAD
<h1>Resources#index</h1>
=======
h1>Resources</h1>
>>>>>>> 3653693c222dff8dd8259d3c903545bca7bb8b45
<ul
<% @resources.each do |resource| %>
<li><%= link_to resource.links %></li>

<% end %>

<ul>
